h1
{
text-align:center;
color:blue;
} 

block {
    width: 100%;
    height: 100%;
}
#calculatorBody {
    width: 200px;
    height: 300px;
    margin-left:auto;
    margin-right:auto;
    border: 8px ridge blue;
    background-color: #333333;
    text-align: center;     
}
    
#displaySection {
    width: 100%;
    height: 19%;
    background-color: #aaaaaa;
    margin: 2px; 
    font-family:"Lucida Console", Verdana, Arial;
}
.buttonRow {
    width: 100%;
    height: 15.5%;
    background-color:#777777;
    margin: 2px;
}

#displaySection input { 
 width : 80%; 
 height : 25px; 
 background-color : #ffffff; 
 margin : 10px; 
 text-align : right; 
 font-size: 1.5em;
} 



.buttonRow input {
    
    display:block;
    float: left;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15pt;
    width: 20%;
    height: 80%;
    margin: 2.5% 2.4%;
    border-radius: 10px;
    border: 3px outset white;
    
}

.buttonRow input:hover {
    background-color: maroon;
}

.buttonRow #close  {
    float : right;
    margin-right: 5%;
    width:10%;
    height: 50%;
    color: white;
    font-size: .5em;
    background-color: red;
}
